<% provide(:title, 'All users') %>
<div class="clinic-show">
<h1>All users</h1>
	<table>
	  <% @users.each do |user| %>
			<tr>
				<td><b><%=  user.username %> </b> (<%=  user.email %>) &nbsp;&nbsp;</td>
				<td width=130px><%= link_to "Advertisements", adv_of_user_path %></td>
				<td width=100px><%= link_to "Edit profile", edit_user_registration_path %></td>
				<td width=100px> <%= link_to "Destroy profile", destroy_user_path(user), method: :delete, data: { confirm: "You sure?" } %></td>
			</tr>
	  <% end %>
	</table>
</div>
